PORT=
NODE_ENV=development
LOG_LEVEL=debug
LOG_PRETTY=true
FRONTEND_URL=http://localhost:5173
MONGODB_URI=
JWT_SECRET=

SMTP_USER=
SMTP_PASS=
SENDER_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
